<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test Layout</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <header>
  <div class="titlecard">
    <img src="/images/logo.png" alt="Fallout 4 logo">
    <h1 class="project-title">Character <br> Manager</h1>
      

  </div>
  <div class="greeting divider">
    <p>Welcome username</p>
    <nav>
      <a href="">Characters</a>
      <a href="">Logout</a>
    </nav>
  </div>
  </header>

  <main>
    {{{body}}}
  </main>

</body>
</html>