<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>V.R.M.S.</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Vault Tec Resource Management System</a>
      </h1>
      <nav>
        {{# if loggedIn}}
        <a href="/dashboard">dashboard</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      <p>Disclaimer: Vault Tec Resource Management System and V.R.M.S are &copy; 2077 Vault Tec Inc.<br>
      V.R.M.S. access is for authorized Vault Tec representatives, overseers, or management personnel ONLY!</p>
    </footer>
  </div>
  
  {{# if loggedIn}}
    <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>