<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FO4 Manager</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <header>
  <div class="titlecard">
    <img src="/images/logo.png" alt="Fallout 4 logo">
    <h1 class="project-title">Character <br> Manager</h1>
      

  </div>
  <div class="greeting divider">
    <p>Welcome {{# if loggedIn}}{{username}}{{/if}}</p>
    <nav>
        {{# if loggedIn}}
          <a href="/dashboard">Characters</a>
          <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
          <a href="/login">Login</a>
        {{/if}}
    </nav>
  </div>
  </header>

  <main>
    {{{body}}}
  </main>

  {{# if loggedIn}}
    <script src="/javascript/logout.js"></script>
  {{/if}}

</body>
</html>