<article class="content">
    <div>
    <p>
        The homepage is not going to have character information displayed on it in the final version of the project. It will act as more of a welcome page
        with links to other parts of the project. For example, the user signup/login page, the user dashboard (if logged in), a link to start creating a new character, etc,
        as well as some instructions on the general purpose and usage of the site.
    </p>
    </div>
</article>