<div class="body-text">
<p>Welcome to the Fallout 4 Character Manager.</p> 
<p>This site is designed to make planning and managing your Fallout 4 character builds easier and allow you to keep all of your characters in one place.</p>
<p>How to make a character:</p>
<ul class="homepage-list">
    <li><p>Once you have registered for the site, just log in and you will be taken to your dashboard.</p></li>
    <li><p>Click on the button to create a character.</p></li>
    <li><p>Give your character a name and a description of your build.</p></li>
    <li><p>Distribute your S.P.E.C.I.A.L. stats.</p></li>
</ul>
<p>Once your character has been created, click on your character from your dashboard to see their character sheet.</p>
<p>Click on Edit to make changes or to add a perk to your character.</p>
<p>To add a perk, scroll down to see the list of available perks your character is eligible for. Click on the one you would like to add your character will be leveled up and the park added to your build</p>
<p>You can also view a PDF of your character build to print or save.</p>
</div>