<div class="welcome-forms">
  <div class="welcome-form-wrapper">
    <form class="login-form">
      <div>
        <label for="email-login">Email</label>
        <input type="text" id="email-login" />
      </div>
      <div>
        <label for="password-login">Password</label>
        <input type="password" id="password-login" />
      </div>
      <div>
        <button type="submit" class="login-button">Login</button> <a href="/signup" class="login-toggle-link">Register Account</a>
      </div>
    </form>
  </div>

<script src="/javascript/login.js"></script>