<section class="character-sheet">
    <form class="new-character-form">
        <div class="nameplate">
            <div>
                <label for="character-name">Name</label>
                <input type="text" id="character-name" name="character-name" placeholder="Character Name">
            </div>
            <div>
                <label for="build-desc">Description</label>
                <input type="text" id="build-desc" name="build-desc" placeholder="Build Description"><br>
            </div>
        </div>

        <div class="available-points">
            <h2>S.P.E.C.I.A.L. Stats</h2>
            <p>Points Available: <span id="points-available">21</span></p>
        </div>
        
        <div class="stats-wrapper">
            <div class="special-stats">
                <table>
                    
                    <colgroup>
                        <col style="width: 50%">
                        <col style="width: 50%">
                    </colgroup>
                    <tr>
                        <td>Strength</td>
                        <td><button id="str-dwn" class="stat-btn">&#8249;</button><span id="cur-str">1</span><button id="str-up" class="stat-btn">&#8250;</button></td>
                    </tr>
                    <tr>
                        <td>Perception</td>
                        <td><button id="per-dwn" class="stat-btn">&#8249;</button><span id="cur-per">1</span><button id="per-up" class="stat-btn">&#8250;</button></td>
                    </tr>
                    <tr>
                        <td>Endurance</td>
                        <td><button id="end-dwn" class="stat-btn">&#8249;</button><span id="cur-end">1</span><button id="end-up" class="stat-btn">&#8250;</button></td>
                    </tr>
                    <tr>
                        <td>Charisma</td>
                        <td><button id="cha-dwn" class="stat-btn">&#8249;</button><span id="cur-cha">1</span><button id="cha-up" class="stat-btn">&#8250;</button></td>
                    </tr>
                    <tr>
                        <td>Intelligence</td>
                        <td><button id="int-dwn" class="stat-btn">&#8249;</button><span id="cur-int">1</span><button id="int-up" class="stat-btn">&#8250;</button></td>
                    </tr>
                    <tr>
                        <td>Agility</td>
                        <td><button id="agi-dwn" class="stat-btn">&#8249;</button><span id="cur-agi">1</span><button id="agi-up" class="stat-btn">&#8250;</button></td>
                    </tr>
                    <tr>
                        <td>Luck</td>
                        <td><button id="lck-dwn" class="stat-btn">&#8249;</button><span id="cur-lck">1</span><button id="lck-up" class="stat-btn">&#8250;</button></td>
                    </tr>
                </table>
            </div>
        </div>
        <div>
            <button type="submit" id="new-char-btn" class="char-button">Create Character</button>
        </div>
    </form> 
</section>

<script src="/javascript/new-character.js"></script>