* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    background-color: lightgoldenrodyellow;
}

.project-title{
    align-self: center;
    font-size: 72px;
}

.divider {
    background-color: steelblue;
    padding: 1%;
    font-weight: bolder;
}

.greeting {
    display: flex;
    justify-content: space-between;
}

.titlecard {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 1%;
}

nav {
    display: inline;
}

a {
    text-decoration: none;
    transition: color .1s;
    color: black;
}

a:hover {
    color: white;
}

.nameplate {
    width: 100%;
    align-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.stats-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

td {
    font-size: 24px;
    padding: 10px;
}

.perk-card {
    display: flex;
    flex-direction: column;
    margin: .5%;
}

.perk-card:nth-child(even) {
    background-color: #e6f9ff
  }

.perk-card-header {
    display: flex;
    padding: .5%;
    margin: 0;
}

.perk-card-header p {
    padding-right: 2%;
}

.perk-card-body {
    padding: .5%;
    margin: 0;
}
